/* GLobal styles
-------------------------*/

/*color palette
black - #000000
white - #FCF7F8
gray - #94979E
blue - #1851A5
crimson - #A51A1A

*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

h1, h2 {
    font-family: 'Krub', sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
    margin-top: 0px;
}
h3 {
    margin: 0px;
}

a{
    color: red;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: white;
    color: #A51A1A;
    padding: 10px;
    display: inline;
    margin: 10px;
}

/* Header and footer
-------------------------*/
header, footer {
    background: #A51A1A;
    color: whitesmoke;
}

header {
    padding-top: 50px;
    position: relative;
}
.profile-image {
    height: 240px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid gray;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}
/* header */

header h1, header h2 {
    color: whitesmoke;
    margin: 0;
}
/* footer */
footer {
    text-align: center;
}
.contact-info a {
    color: white;
    padding: 40px;
    display: inline-block;
    text-decoration: none;
    
}

.fas.fa-envelope {
    font-size: 20px;
    color: lightgrey;
}

.fas.fa-trophy {
    font-size: 20px;
    color: orange;
}

.fab.fa-github {
    font-size: 20px;
    color: black;
}

.fab.fa-linkedin {
    font-size: 20px;
    color: mediumblue;
}
/* Navigation
-------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Work experience
-------------------------*/
.work {
    background-color: whitesmoke;
}

h3 ~ p {
    margin: 0px;
    
}
.job-description {
    margin-bottom: 25px;
}
.job-description p:first-of-type {
    margin-top: 0px;
}
/* Education
-------------------------*/
.education {
    background-color: whitesmoke;
}

p + h3 {
    margin-top: 30px;
}

/* Media queries
-------------------------*/

@media (min-width: 900px){
    .col-narrow {
        width: 30%;
        float: left;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }
    .profile-image {
        width: 200px;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-image {
        width: 200px;
    }
}